# ------------------------------------
# 操作系统和编辑器文件
# ------------------------------------
.DS_Store
*.swp
*.bak
.vscode/

# ------------------------------------
# Python 依赖和环境
# ------------------------------------
# 虚拟环境目录
.venv/
__pycache__/
*.pyc
venv/

# ------------------------------------
# C++ 编译生成的文件
# ------------------------------------
# C++ 编译生成的共享库 (动态链接库)
*.so
*.o
*.out

# ------------------------------------
# Node/前端依赖
# ------------------------------------
frontend/node_modules/
frontend/dist/
frontend/yarn-error.log
build/