html,
body {
  /* 移除默认边距 */
  margin: 0;
  padding: 0;
  /* 关键：隐藏溢出内容，去除不必要的滚动条 */
  overflow-x: hidden;
}

/* 确保根元素盒子模型为 border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}
